


:root {
  --slide-height: 550px;
  --overlay-color: rgba(0, 0, 0, 0.5);
  --text-color: white;
  --button-bg: #e60000;
  --button-hover-bg: #c40000;
}


.slider-container {
  margin: 0 auto;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
  height: var(--slide-height);
  font-family: "Montserrat";
  cursor: pointer;
}


.slide {
  max-width: 100%;
  position: relative;
  height: var(--slide-height);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  inset: 0;
  background: var(--overlay-color);
}

.slide-content {
  position: relative;
  z-index: 10;
  margin-left: 50px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: self-start;
  flex-direction: column;
  padding: 40px;
}

.slide-content h2 {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 100;
  word-wrap: break-word;
  width: 420px;

}

.slide-button {
  margin-top: 20px;
  padding: 10px 20px;
  background: var(--button-bg);
  color: var(--text-color);
  font-family: "Montserrat";
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  width: 170px;
  height: 50px;
}

.slide-button:hover {
  background: var(--button-hover-bg);
}

.swiper-pagination-bullet {
  background: white !important; /* Define a cor branca */
  opacity: 0.5; /* Opacidade reduzida para os inativos */
}

.swiper-pagination-bullet-active {
  background: white !important; /* Cor branca para o ativo */
  opacity: 1; /* Opacidade total para destacar */
}

@media(max-width:768px){

  .slider-container {
    margin: 0 auto;
   width: 100vw;
    justify-content: center;
    align-items: center;
    height: var(--slide-height);
    font-family: "Montserrat";
    cursor: pointer;
  }
  
  
  .slide {
    width: 100vw;
    position: relative;
    height: var(--slide-height);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background: var(--overlay-color);
  }
  
  .slide-content {
    position: relative;
    z-index: 10;
    margin-left: 50px;
    color: var(--text-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
  }
  
  .slide-content h2 {
    font-family: "Montserrat";
    font-size: 26px;
    font-weight: 100;
    word-wrap: break-word;
    width: 300px;
   
  
  }
  
  .slide-button {
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--button-bg);
    color: var(--text-color);
    font-family: "Montserrat";
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    width: 170px;
    height: 50px;
  }
  
  .slide-button:hover {
    background: var(--button-hover-bg);
  }
  
  .swiper-pagination-bullet {
    background: white !important; /* Define a cor branca */
    opacity: 0.5; /* Opacidade reduzida para os inativos */
  }
  
  .swiper-pagination-bullet-active {
    background: white !important; /* Cor branca para o ativo */
    opacity: 1; /* Opacidade total para destacar */
  }
  
}