.bg1 img{
  width: 100%;
}
.container{
  display: flex;
  margin: 0 auto;
  max-width: 860px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.container h1{
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}
.container h2{
  font-family: "Montserrat";
  font-size: 16px;
  word-wrap: break-word;
  width: 600px;
  text-align-last: center;
  font-weight: 400;
  color: #4f4f4f;
  margin-bottom: 30px;
}
.container img{
  margin-bottom: 30px;
}
.bg{
  background-color: #f00d04;
  display: flex;
  height: 226px;
}
.container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 960px;

}

.container2 h1{
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}
.span1{
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 100;
  color: #fff;
}
.container2 button{
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  background-color: #4f4f4f;
  color: #fff;
  border: none;
  width: 156px;
  height: 46px;
  cursor: pointer;
  margin-top: 15px;
}
.container3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 60px;
}
.container3 h1{
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  color: #f00d04;
  margin-bottom: 10px;
  line-height: 43px;
}
.span2{
  font-family: "Montserrat";
  font-size: 27px;
  font-weight: 700;
  color: #12172d;
}
.container3 p{
  font-family: "Montserrat";
  font-size: 17px;
  font-weight: 400;
  color: #45464a;
  word-wrap: break-word;
  width: 343px;
}
.container4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 160px;
  max-width: 960px;
  align-items: center;
  margin: 0 auto;
}
.container4{
  margin-top: 60px;
  margin-bottom: 60px;
}
.container5{
  display: flex;
  max-width: 960px;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
}
.container5 h1{
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  color: #f00d04;
  word-wrap: break-word;
  width: 371px;
  line-height: 28px;
  margin-bottom: 10px;
}
.span3{
  font-family: "Montserrat";
  font-size: 27px;
  font-weight: 700;
  color: #12172d;
}
.container5 p{
  font-family: "Montserrat";
  font-size: 17px;
  font-weight: 400;
  color: #45464a;
  word-wrap: break-word;
  width: 343px;
}
.container6{
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  justify-content: start;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (max-width:768px){
  .bg1 img{
   display: none;
  }
  .container{
    display: flex;
    margin: 0 auto;
    max-width: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 30px;
  }
  
  .container h1{
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
    word-wrap: break-word;
    width: 350px;
  }
  .container h2{
    font-family: "Montserrat";
    font-size: 16px;
    word-wrap: break-word;
    width: 350px;
    text-align-last: center;
    font-weight: 400;
    color: #4f4f4f;
    margin-bottom: 30px;
  }
  .container img{
    margin-bottom: 30px;
    max-width: 100%;
  }
  .bg{
    background-color: #f00d04;
    display: flex;
    height: 500px;
  }
  .container2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 700px;
  
  }
  
 
  .container3{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 700px;
    margin: 0 auto;
    gap: 60px;
    padding: 30px;
    margin-top: 60px;
  }
  .container3 h1{
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 700;
    color: #f00d04;
    margin-bottom: 10px;
    line-height: 30px;
    word-wrap: break-word;
    width: 280px;
  }
  .container3 img{
    max-width: 90%;
  }
  .span2{
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    color: #12172d;
  }

  .container4{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    flex-grow: 1;
    gap: 30px;
    margin: 0 auto;
  }
 .mg{
  max-width:350px;
  margin-bottom: 30px;

 }
  .container5{
    display: flex;
    max-width: 700px;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
 
  }
  .container5 img{
  max-width: 350px;
  }
  .container5 h1{
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 700;
    color: #f00d04;
    word-wrap: break-word;
    width: 350px;
    line-height: 28px;
    margin-bottom: 10px;

  }
  .span3{
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 700;
    color: #12172d;
  }
  .container5 p{
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    color: #45464a;
    word-wrap: break-word;
    width: 320px;
    margin-bottom: 15px;

  }
  .container6{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 700px;
    height: 200px;
    justify-content: center;
    margin-bottom: 60px;
    
    & img{
      padding: 15px;
      max-width: 400px;
    }
  }

}