.container{
  display: flex;
  justify-content: center;
  background-color: #EBEBEB;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  height: 150px;
}
.container h1{
  color: #1E1E1E;
  font-family: "Montserrat";
  font-size: 36px;
  margin-bottom: 5px;
  font-weight: 500;
}
.container1{
  display: flex;
  justify-content: space-around;
  align-items: first baseline;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 800px;
  margin-top: 30px;
  padding: 15px;
}
.container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container2 h1{
  color: #1E1E1E;
  font-family: "Montserrat";
  font-size: 36px;
  margin-bottom: 5px;
  font-weight: 500;
  margin-bottom: 15px;
}
.label{
  color: #F00D04;
  font-family: "Montserrat";
  font-weight: 500;
}
.input{
  width: 340px;
  height: 46px;
  color: #1E1E1E;
  margin-bottom: 15px;
  margin-top: 5px;

}
.pass{
  color: #1E1E1E;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.bt{
  border: solid 2px #F00D04;
  background-color: #fff;
  color: #F00D04;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  width: 189px;
  height: 45px;
  margin-top: 15px;
  cursor: pointer;
}
.bt:hover{
  transform: scale(1.06);
}

.container4 h1{
  color: #1E1E1E;
  font-family: "Montserrat";
  font-size: 36px;
  margin-bottom: 5px;
  font-weight: 500;
  margin-bottom: 15px;
}
.spn1{
  color: #F00D04;
  font-size: 36px;
  font-weight:500;
}
.container4 p{
  color: #1E1E1E;
  font-family: "Montserrat";
  word-wrap: break-word;
  font-weight: 400;
  font-size: 20px;
  width: 377px ;
  margin-bottom: 15px;
}
.container4 button{
  background-color: #1E1E1E;
  border: none;
  color: #fff;
  width: 189px;
  height: 45px;
  cursor: pointer;
}

.perdeu{
  color: #1E1E1E;
  font-family: "Montserrat";
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  margin-top: 15px;
}